body{
    background-image: linear-gradient(to bottom, rgb(91, 196, 105), rgb(59, 100, 68));
    height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1 {
    text-align: center;
}
.zeraomaconha{
    text-align: center;
}
.samba{
    text-align: center;
    border-style: double;
    width: 600px;
    margin: 0 auto;
    display: block;
    background-image: linear-gradient(to bottom, rgb(128, 228, 128), rgb(71, 122, 65));
}
input{
    background-color: rgb(108, 238, 108);
    border-radius: 10px;
    text-align: center;
    font-size: medium;
    width: 200px;
    height: 40px;
}
button{
    background-color: rgb(108, 238, 108);
    width: 100px;
    height: 45px;
    border-radius: 20px;
}
button:hover{
    background-image:linear-gradient(to bottom, rgb(150, 165, 149)rgb(223, 241, 215)8)   
}